<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          th:href="@{/static/element-ui/index.css}">
    <style>
        .container {
            padding: 5px;
        }

        .container .search-box {
            margin-bottom: 20px;
        }

        .container .content-header {
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }

        .page-box {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button @click="add" type="success" size="mini" icon="el-icon-plus">新增</el-button>
                    <el-button @click="batchDel" type="danger" size="mini" icon="el-icon-delete">删除</el-button>
                </el-col>
                <el-col :span="11" :offset="2">
                    <div class="content-header-right">
                        <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search" circle></el-button>
                    </div>
                </el-col>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
                    :tree-props="{children: 'child'}"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="菜单ID"></el-table-column>
                <el-table-column prop="menuName" label="菜单名称"></el-table-column>
                <el-table-column prop="menuUrl" label="菜单地址" sortable width="180"></el-table-column>
                <el-table-column prop="menuType" label="菜单类型"></el-table-column>
                <el-table-column prop="permit" label="权限Key"></el-table-column>
                <el-table-column prop="sortNum" label="排序:升序"></el-table-column>
                <el-table-column prop="icon" label="菜单icon"></el-table-column>
                <el-table-column prop="createTime" label="创建时间"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.menuType!=2" @click="addSub(scope.row)" type="success"
                                   icon="el-icon-plus" size="mini" circle></el-button>
                        <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                   circle></el-button>
                        <el-button @click="del(scope.row.id)" type="danger" icon="el-icon-delete" size="mini"
                                   circle></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData">
            <el-form-item label="ID" :label-width="formLabelWidth" style="display: none">
                <el-input v-model="itemData.id" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="父级ID" :label-width="formLabelWidth" style="display: none">
                <el-input v-model="itemData.parentId" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="菜单名称" :label-width="formLabelWidth">
                <el-input v-model="itemData.menuName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="菜单地址" :label-width="formLabelWidth">
                <el-input v-model="itemData.menuUrl" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="菜单类型" :label-width="formLabelWidth">
<!--                <el-select v-model="itemData.menuType" placeholder="请选择">-->
<!--                    <el-option label="菜单" :value="1"></el-option>-->
<!--                    <el-option label="按钮" :value="2"></el-option>-->
<!--                </el-select>-->

                <el-radio-group v-model="itemData.menuType">
                    <el-radio :label="0">目录</el-radio>
                    <el-radio :label="1">菜单</el-radio>
                    <el-radio :label="2">按钮</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="权限KEY" :label-width="formLabelWidth">
                <el-input v-model="itemData.permit" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="itemData.sortNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="菜单icon" :label-width="formLabelWidth">
                <el-input v-model="itemData.icon" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="创建时间" :label-width="formLabelWidth">
                <el-date-picker
                        v-model="itemData.createTime"
                        align="right"
                        type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="选择日期"
                        :picker-options="pickerOptions">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="添加按钮权限" :label-width="formLabelWidth">
                <el-radio-group v-model="itemData.addBtn">
                    <el-radio :label="0">不添加按钮</el-radio>
                    <el-radio :label="1">添加按钮权限</el-radio>
                </el-radio-group>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>

<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
    new Vue({
        el: '#app',
        data: function () {
            return {
                listUrl: ctx + 'system/menu/list',
                delUrl: ctx + 'system/menu/del?id=',
                batchDelUrl: ctx + 'system/menu/batchDel',
                addUrl: ctx + 'system/menu/add',
                editUrl: ctx + 'system/menu/edit',
                dialogUrl:'',
                tableData: [],
                multipleSelection: [],
                formDto: {
                    keyword: '',
                    region: ''
                },
                showSearch: false,
                pageDto: {
                    currentPage: 1,
                    pageSize: 10,
                    total: 110,
                    pageCount: 1, //总页数
                    pagerCount: 9, //页码按钮的数量
                },
                addDialogVisible: false,
                itemData: {},
                dialogTitle: '新增',
                formLabelWidth: '100px',
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                }

            }
        },
        methods: {
            searchList: function () {
                // 列表检索
                let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                axios.post(url, this.formDto).then(r => {
                    if (r.data.code === 200) {
                        let data = r.data.data;
                        this.pageDto.total = data.total;
                        this.pageDto.pageCount = data.pages;
                        this.tableData = data.records;
                        console.log("page:", this.pageDto);
                    }
                }).catch(error => {
                    console.error("请求失败：", error);
                    ELEMENT.Message({
                        showClose: true,
                        message: "请求失败，请稍后重试",
                        type: 'error'
                    });
                })
            },
            prePage() {
                this.pageDto.currentPage -= 1;
                this.searchList();
            },
            nextPage() {
                this.pageDto.currentPage += 1;
                this.searchList();
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageDto.pageSize=val;
                this.searchList();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.pageDto.currentPage=val;
                this.searchList();
            },
            handleSelectionChange(val) {
                //当选择项发生变化时会触发该事件
                this.multipleSelection = val;
            },
            showSearchBox() {
                this.showSearch = !this.showSearch;
            },
            add() {
                this.addDialogVisible = true;
                this.dialogTitle = '新增';
                this.dialogUrl=this.addUrl;
            },
            addSub(row){
                this.addDialogVisible = true;
                this.dialogTitle = '新增';
                this.dialogUrl=this.addUrl;
                this.itemData.parentId=row.id;
            },
            edit(row) {
                this.addDialogVisible = true;
                this.dialogTitle = '编辑';
                this.itemData = row;
                this.dialogUrl=this.editUrl;
            },
            saveOrUpdate(){
                requestPost(this.dialogUrl, this.itemData);
            },
            batchDel() {
                let ids = this.multipleSelection.map(i => i.id);
                if (!ids.length) {
                    // 数组为空
                    ELEMENT.Message({
                        showClose: true,
                        message: "您未选中任何内容",
                        type: 'warning'
                    });
                    return false;
                }
                ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    requestPost(this.batchDelUrl, ids);
                }).catch(() => {
                    ELEMENT.Message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            del(id) {
                ELEMENT.MessageBox.confirm('确定删除该数据吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    requestGet(this.delUrl + id);
                }).catch(() => {
                    ELEMENT.Message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }, created() {
            this.searchList();
        }
    });


</script>

</body>
</html>
