<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          th:href="@{/static/element-ui/index.css}">
    <style>
        .container {
            padding: 5px;
        }

        .container .search-box {
            margin-bottom: 20px;
        }

        .container .content-header {
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }

        pre {
            background-color: #f4f4f4;
            padding: 10px;
            max-height: 200px;
            max-width: 350px;
            overflow: auto;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="system:sysOperLog:list:del,admin" @click="batchDel" type="danger"
                               size="mini" icon="el-icon-delete">删除
                    </el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search"
                               circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                <!--                    <el-table-column prop="id" label="日志主键" width="100" ></el-table-column>-->
                <el-table-column prop="title" label="模块标题" width="100"></el-table-column>
                <el-table-column prop="businessType" label="业务类型" width="100">
                    <template slot-scope="scope">
                        <el-tag type="info" v-if="scope.row.businessType==0">其它</el-tag>
                        <el-tag type="success" v-if="scope.row.businessType==1">新增</el-tag>
                        <el-tag type="primary" v-if="scope.row.businessType==2">修改</el-tag>
                        <el-tag type="danger" v-if="scope.row.businessType==3">删除</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="requestMethod" label="请求方式" width="100"></el-table-column>
                <el-table-column prop="status" label="操作状态" width="100">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status==0">正常</el-tag>
                        <el-tag type="danger" v-if="scope.row.status==1">异常</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="operName" label="操作人员" width="100"></el-table-column>
                <!--                    <el-table-column prop="deptName" label="部门名称" width="100" ></el-table-column>-->
                <el-table-column prop="operIp" label="主机地址" width="150"></el-table-column>
                <el-table-column prop="operLocation" label="操作地点" ></el-table-column>
                <el-table-column prop="operTime" label="操作时间" width="160"></el-table-column>
                <el-table-column prop="costTime" label="消耗时间" width="160"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        min-width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="system:sysOperLog:list:view,admin" class="item" effect="dark"
                                    content="查看详情" placement="top-start">
                            <el-button @click="view(scope.row)" type="primary" icon="el-icon-view" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="system:sysOperLog:list:del,admin" class="item" effect="dark"
                                    content="删除" placement="top-start">
                            <el-button @click="del(scope.row.id)" type="danger" icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-descriptions title="" :column="1">
            <el-descriptions-item label="请求地址">{{itemData.operUrl}}</el-descriptions-item>
            <el-descriptions-item label="请求方法">{{itemData.method}}</el-descriptions-item>
            <el-descriptions-item label="请求参数">
                <pre>{{formatJSON(itemData.operParam)}}</pre>
            </el-descriptions-item>
            <el-descriptions-item label="返回参数">
                <pre>{{formatJSON(itemData.jsonResult)}}</pre>
            </el-descriptions-item>
            <el-descriptions-item v-if="itemData.errorMsg != ''" label="错误消息">
                <pre>{{itemData.errorMsg}}</pre>
            </el-descriptions-item>
        </el-descriptions>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'system/sysOperLog/list',
                    delUrl: ctx + 'system/sysOperLog/del?id=',
                    batchDelUrl: ctx + 'system/sysOperLog/batchDel',
                    addUrl: ctx + 'system/sysOperLog/add',
                    editUrl: ctx + 'system/sysOperLog/edit',
                    dialogUrl: '',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList: [],
                    },
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    rules: {
                        title: [
                            {required: true, message: '请输入模块标题', trigger: 'blur'},
                        ],
                        businessType: [
                            {required: true, message: '请输入业务类型（0其它 1新增 2修改 3删除）', trigger: 'blur'},
                        ],
                        method: [
                            {required: true, message: '请输入方法名称', trigger: 'blur'},
                        ],
                        requestMethod: [
                            {required: true, message: '请输入请求方式', trigger: 'blur'},
                        ],
                        operatorType: [
                            {required: true, message: '请输入操作类别（0其它 1后台用户 2手机端用户）', trigger: 'blur'},
                        ],
                        operName: [
                            {required: true, message: '请输入操作人员', trigger: 'blur'},
                        ],
                        deptName: [
                            {required: true, message: '请输入部门名称', trigger: 'blur'},
                        ],
                        operUrl: [
                            {required: true, message: '请输入请求URL', trigger: 'blur'},
                        ],
                        operIp: [
                            {required: true, message: '请输入主机地址', trigger: 'blur'},
                        ],
                        operLocation: [
                            {required: true, message: '请输入操作地点', trigger: 'blur'},
                        ],
                        operParam: [
                            {required: true, message: '请输入请求参数', trigger: 'blur'},
                        ],
                        jsonResult: [
                            {required: true, message: '请输入返回参数', trigger: 'blur'},
                        ],
                        status: [
                            {required: true, message: '请输入操作状态（0正常 1异常）', trigger: 'blur'},
                        ],
                        errorMsg: [
                            {required: true, message: '请输入错误消息', trigger: 'blur'},
                        ],


                    }

                }
            },
            methods: {
                searchList: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = data.total;
                            this.pageDto.pageCount = data.pages;
                            this.tableData = data.records;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.searchList();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.searchList();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize = val;
                    this.searchList();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage = val;
                    this.searchList();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },

                view(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '查看';
                    this.itemData = row;
                },

                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                formatJSON(jsonString) {
                    if (!jsonString) {
                        return false;
                    }
                    try {
                        const parsedJson = JSON.parse(jsonString);
                        return JSON.stringify(parsedJson, null, 2);
                    } catch (error) {
                        console.error('Invalid JSON string:', error);
                        return jsonString;
                    }
                }
            }, created() {
                this.searchList();
            }
        });


</script>

</body>
</html>
