
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" th:href="@{/static/element-ui/index.css}">
    <style>
        .container{
            padding: 5px;
        }

        .container .search-box{
            margin-bottom: 20px;
        }

        .container .content-header{
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="system:sysOperLog:list:add,admin" @click="add" type="success" size="mini" icon="el-icon-plus">新增</el-button>
                    <el-button sa:hasPermissionOr="system:sysOperLog:list:del,admin" @click="batchDel" type="danger" size="mini" icon="el-icon-delete">删除</el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search" circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="id" label="日志主键" width="100" ></el-table-column>
                    <el-table-column prop="title" label="模块标题" width="100" ></el-table-column>
                    <el-table-column prop="businessType" label="业务类型（0其它 1新增 2修改 3删除）" width="100" ></el-table-column>
                    <el-table-column prop="method" label="方法名称" width="100" ></el-table-column>
                    <el-table-column prop="requestMethod" label="请求方式" width="100" ></el-table-column>
                    <el-table-column prop="operatorType" label="操作类别（0其它 1后台用户 2手机端用户）" width="100" ></el-table-column>
                    <el-table-column prop="operName" label="操作人员" width="100" ></el-table-column>
                    <el-table-column prop="deptName" label="部门名称" width="100" ></el-table-column>
                    <el-table-column prop="operUrl" label="请求URL" width="100" ></el-table-column>
                    <el-table-column prop="operIp" label="主机地址" width="100" ></el-table-column>
                    <el-table-column prop="operLocation" label="操作地点" width="100" ></el-table-column>
                    <el-table-column prop="operParam" label="请求参数" width="100" ></el-table-column>
                    <el-table-column prop="jsonResult" label="返回参数" width="100" ></el-table-column>
                    <el-table-column prop="status" label="操作状态（0正常 1异常）" width="100" ></el-table-column>
                    <el-table-column prop="errorMsg" label="错误消息" width="100" ></el-table-column>
                    <el-table-column prop="operTime" label="操作时间" width="160" ></el-table-column>
                    <el-table-column prop="costTime" label="消耗时间" width="160" ></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="system:sysOperLog:list:edit,admin" class="item" effect="dark" content="编辑角色" placement="top-start">
                            <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="system:sysOperLog:list:del,admin" class="item" effect="dark" content="删除角色" placement="top-start">
                            <el-button v-if="scope.row.username != 'admin'" @click="del(scope.row.id)" type="danger" icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData" :rules="rules" ref="itemData">

                    <el-form-item label="operId" prop="operId" :label-width="formLabelWidth" style="display: none">
                        <el-input v-model="itemData.id" autocomplete="off"></el-input>
                    </el-form-item>

                        <el-form-item label="模块标题" prop="title" :label-width="formLabelWidth">
                            <el-input v-model="itemData.title" autocomplete="off" placeholder="请输入模块标题" ></el-input>
                        </el-form-item>

                        <el-form-item label="业务类型（0其它 1新增 2修改 3删除）" prop="businessType" :label-width="formLabelWidth">
                            <el-input v-model="itemData.businessType" autocomplete="off" placeholder="请输入业务类型（0其它 1新增 2修改 3删除）" ></el-input>
                        </el-form-item>

                        <el-form-item label="方法名称" prop="method" :label-width="formLabelWidth">
                            <el-input v-model="itemData.method" autocomplete="off" placeholder="请输入方法名称" ></el-input>
                        </el-form-item>

                        <el-form-item label="请求方式" prop="requestMethod" :label-width="formLabelWidth">
                            <el-input v-model="itemData.requestMethod" autocomplete="off" placeholder="请输入请求方式" ></el-input>
                        </el-form-item>

                        <el-form-item label="操作类别（0其它 1后台用户 2手机端用户）" prop="operatorType" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operatorType" autocomplete="off" placeholder="请输入操作类别（0其它 1后台用户 2手机端用户）" ></el-input>
                        </el-form-item>

                        <el-form-item label="操作人员" prop="operName" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operName" autocomplete="off" placeholder="请输入操作人员" ></el-input>
                        </el-form-item>

                        <el-form-item label="部门名称" prop="deptName" :label-width="formLabelWidth">
                            <el-input v-model="itemData.deptName" autocomplete="off" placeholder="请输入部门名称" ></el-input>
                        </el-form-item>

                        <el-form-item label="请求URL" prop="operUrl" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operUrl" autocomplete="off" placeholder="请输入请求URL" ></el-input>
                        </el-form-item>

                        <el-form-item label="主机地址" prop="operIp" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operIp" autocomplete="off" placeholder="请输入主机地址" ></el-input>
                        </el-form-item>

                        <el-form-item label="操作地点" prop="operLocation" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operLocation" autocomplete="off" placeholder="请输入操作地点" ></el-input>
                        </el-form-item>

                        <el-form-item label="请求参数" prop="operParam" :label-width="formLabelWidth">
                            <el-input v-model="itemData.operParam" autocomplete="off" placeholder="请输入请求参数" ></el-input>
                        </el-form-item>

                        <el-form-item label="返回参数" prop="jsonResult" :label-width="formLabelWidth">
                            <el-input v-model="itemData.jsonResult" autocomplete="off" placeholder="请输入返回参数" ></el-input>
                        </el-form-item>

                        <el-form-item label="操作状态（0正常 1异常）" prop="status" :label-width="formLabelWidth">
                            <el-input v-model="itemData.status" autocomplete="off" placeholder="请输入操作状态（0正常 1异常）" ></el-input>
                        </el-form-item>

                        <el-form-item label="错误消息" prop="errorMsg" :label-width="formLabelWidth">
                            <el-input v-model="itemData.errorMsg" autocomplete="off" placeholder="请输入错误消息" ></el-input>
                        </el-form-item>

                        <el-form-item label="操作时间" prop="operTime" :label-width="formLabelWidth">
                            <el-date-picker
                                    v-model="itemData.operTime"
                                    align="right"
                                    type="datetime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>

                        <el-form-item label="消耗时间" prop="costTime" :label-width="formLabelWidth">
                            <el-date-picker
                                    v-model="itemData.costTime"
                                    align="right"
                                    type="datetime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'system/sysOperLog/list',
                    delUrl: ctx + 'system/sysOperLog/del?id=',
                    batchDelUrl: ctx + 'system/sysOperLog/batchDel',
                    addUrl: ctx + 'system/sysOperLog/add',
                    editUrl: ctx + 'system/sysOperLog/edit',
                    dialogUrl:'',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList:[],
                    },
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    rules: {
                                    title: [
                                        { required: true, message: '请输入模块标题', trigger: 'blur' },
                                    ],
                                    businessType: [
                                        { required: true, message: '请输入业务类型（0其它 1新增 2修改 3删除）', trigger: 'blur' },
                                    ],
                                    method: [
                                        { required: true, message: '请输入方法名称', trigger: 'blur' },
                                    ],
                                    requestMethod: [
                                        { required: true, message: '请输入请求方式', trigger: 'blur' },
                                    ],
                                    operatorType: [
                                        { required: true, message: '请输入操作类别（0其它 1后台用户 2手机端用户）', trigger: 'blur' },
                                    ],
                                    operName: [
                                        { required: true, message: '请输入操作人员', trigger: 'blur' },
                                    ],
                                    deptName: [
                                        { required: true, message: '请输入部门名称', trigger: 'blur' },
                                    ],
                                    operUrl: [
                                        { required: true, message: '请输入请求URL', trigger: 'blur' },
                                    ],
                                    operIp: [
                                        { required: true, message: '请输入主机地址', trigger: 'blur' },
                                    ],
                                    operLocation: [
                                        { required: true, message: '请输入操作地点', trigger: 'blur' },
                                    ],
                                    operParam: [
                                        { required: true, message: '请输入请求参数', trigger: 'blur' },
                                    ],
                                    jsonResult: [
                                        { required: true, message: '请输入返回参数', trigger: 'blur' },
                                    ],
                                    status: [
                                        { required: true, message: '请输入操作状态（0正常 1异常）', trigger: 'blur' },
                                    ],
                                    errorMsg: [
                                        { required: true, message: '请输入错误消息', trigger: 'blur' },
                                    ],


                    }

                }
            },
            methods: {
                searchList: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = data.total;
                            this.pageDto.pageCount = data.pages;
                            this.tableData = data.records;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.searchList();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.searchList();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize=val;
                    this.searchList();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage=val;
                    this.searchList();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },
                add() {
                    this.addDialogVisible = true;
                    this.dialogTitle = '新增';
                    this.dialogUrl=this.addUrl;
                    this.itemData = {};
                },
                edit(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '编辑';
                    this.itemData = row;
                    this.dialogUrl=this.editUrl;
                },
                saveOrUpdate(){
                    this.$refs['itemData'].validate((valid) => {
                        if (valid) {
                            requestPost(this.dialogUrl, this.itemData);
                        } else {
                            return false;
                        }
                    });
                },
                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }
            }, created() {
                this.searchList();
            }
        });
</script>

</body>
</html>
